.blocklyTreeLabel {
	color: #fff; 
	padding: 3px 0 ;
}
.blocklyTreeRowContentContainer{
	padding: 5px 0 ;
}
/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
	padding: .3em;
}
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
	/*display: flex;*/
	height: 32px;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	cursor: pointer;
	border-radius: 5px;
	/*background-color: #525252;*/
	margin: 0 6px 4px;
	font-size: 12px;

}

.custom_renderer-renderer.WaddleTheme-theme .blocklySelected>.blocklyPath {
	stroke: #2e2e2e;
	stroke-width: 3px;
}

.mask{
	position: absolute;
	top: 0;
	background: #333;/* 黑色背景 */
	z-index: -2;/* 使遮罩层位于背景容器层下方，背景容器模糊带消失 */
}

.mbl{ background:#000; filter:alpha(Opacity=60);-moz-opacity:0.5;opacity:0.5}

.blocklyTreeSeparator {
	border-bottom: #00000000;
}
/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
	display: flex;
    flex-direction: column;
    align-items: center;
}
.blocklyTreeRow {
    height: initial;
};
.customIcon {
    padding: 10 ;
}