.blocklyFlyout {
    background-color: rgb(255, 255, 255) !important;
}

.blocklyTreeLabel {
    color: #525252;;
}

.blocklyToolboxDiv {
    background-color: rgb(255, 255, 255);
}

.custom_renderer-renderer.WaddleTheme-theme .blocklySelected > .blocklyPath {
    stroke: #ffffdd;
    stroke-width: 3px;
}

.mask {
    position: absolute;
    top: 0;
    background: #333;
    /* 黑色背景 */
    z-index: -2;
    /* 使遮罩层位于背景容器层下方，背景容器模糊带消失 */
}

.mbl {
    background: #000;
    filter: alpha(Opacity=60);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.blocklyTreeSeparator {
    border-bottom: #00000000;
}

/* Stacks the icon on top of the label. */

.blocklyFlyoutButton {
    fill: #6d50f0;
}

.blocklyFlyoutButton:hover {
    fill: #5439ce;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    background-color: #dcdcdc;
}

.close {
    border: 13px solid #6d50f0;
}

.close:hover,
.clos:focus {
    border: 13px solid #5439ce;
}

.nav-item:hover {
    background-color: #5439ce;
}

.close:hover {
    color: #000000;
}

.card {
    background: #fff;
    border: rgb(180, 180, 180) 0.2em solid;
}

.aboutus-close {
    color: #6d50f0;
}

.newsth-close {
    color: #6d50f0;
}

.sord {
    color: #6d50f0;
}
