.blocklyFlyout {
    background-color: rgb(32, 32, 32) !important;
}

.blocklyTreeLabel {
    color: #fff;
}

.custom_renderer-renderer.WaddleTheme-theme .blocklySelected > .blocklyPath {
    stroke: #2e2e2e;
    stroke-width: 3px;
}

.mask {
    position: absolute;
    top: 0;
    background: #333;
    /* 黑色背景 */
    z-index: -2;
    /* 使遮罩层位于背景容器层下方，背景容器模糊带消失 */
}

.mbl {
    background: #000;
    filter: alpha(Opacity=60);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.blocklyTreeSeparator {
    border-bottom: #00000000;
}

/* Stacks the icon on top of the label. */


.copy {
    background: var(--main-color);
}

.copy:hover {
    background: var(--nd-main-color);
}

.close {
    border: 13px solid var(--main-color);
}

.close:hover,
.clos:focus {
    border: 13px solid var(--nd-main-color);
}

.swal-content__input,
.swal-icon--success:after,
.swal-icon--success::before,
.swal-icon--success__hide-corners {
    background-color: var(--nd-main-color);
    color: white;
}

.swal-title,
.swal-text {
    color: rgb(255, 255, 255);
}

.swal-footer {
    background-color: var(--main-color);
    border-top: 1px solid #484848;
}

.swal-modal {
    background-color: var(--nd-main-color);
}

.nav-item:hover {
    background-color: var(--nd-main-color);
}

.close:hover {
    color: #d9d9d9;
}

.card {
    background: var(--nd-main-color);
    border: rgb(255, 255, 255) 0.2em solid;
}

.aboutus-close {
    color: #fff;
}

.newsth-close {
    color: #fff;
}

.sord {
    color: #fff;
}
