.waddle-control {
  background-color: #01adff;
}

.waddle-math {
  background-color: #f0aa8b;
}

.waddle-fx {
  background-color: #f88767;
}

.waddle-function {
  background-color: #5ab45b;
}

.waddle-variable {
  background-color: #ffbb55;
}

.waddle-list {
  background-color: #ff9c37;
}

.waddle-dict {
  background-color: #2bc9a7;
}

.waddle-color {
  background-color: #2bc9a7;
}

.waddle-dom {
  background-color: #a073ff;
}

.waddle-lodash {
  background-color: #5098fc;
}

.waddle-axios {
  background-color: #5a29e4;
}

.waddle-utils {
  background-color: #14b390;
}

.waddle-crypto {
  background-color: #5574f8;
}

.waddle-vika {
  background-color: #f88767;
}

.waddle-qrcode {
  background-color: #c367f9;
}

.waddle-tools {
  background-color: #14b390;
}

.waddle-permission {
  background-color: #a073ff;
}

.waddle-build {
  background-image: linear-gradient(to right, #8647f3cc, #00c79faa);
}

.waddle-block {
  background-image: linear-gradient(to right, #e76cea, #ffbb55);
}

.waddle-render {
  background-image: linear-gradient(to right, #01adffee, #5098fc88);
}

.waddle-testing {
  opacity: 50%;
  filter: blur(3px);
}

.waddle-http,.waddle-pedometer,.waddle-antd{
    background-color: #3d92ef;
}

