/* Makes our label white. */
.blocklyTreeLabel {
    color: white;
}
/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
    padding: .3em;
}
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
    display: flex;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px 0 12px;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 6px 4px;
    font-size: 12px;

}

.blocklyToolboxDiv {
    background-color:#F0F2F7;
}