.waddle-control {
    color: #01adff;
}

.waddle-math {
    color: #f0aa8b;
}

.waddle-fx {
    color: #f88767;
}

.waddle-function {
    color: #5ab45b;
}

.waddle-variable {
    color: #ffbb55;
}

.waddle-list {
    color: #ff9c37;
}

.waddle-dict {
    color: #2bc9a7;
}

.waddle-color {
    color: #2bc9a7;
}

.waddle-dom {
    color: #a073ff;
}

.waddle-lodash {
    color: #5098fc;
}

.waddle-axios {
    color: #5a29e4;
}

.waddle-utils {
    color: #14b390;
}

.waddle-crypto {
    color: #5574f8;
}

.waddle-vika {
    color: #f88767;
}

.waddle-qrcode {
    color: #c367f9;
}

.waddle-tools {
    color: #14b390;
}

.waddle-permission {
    color: #a073ff;
}

.waddle-build {
    color: #5a29e4cc;
}

.waddle-block {
    color: #ffbb55;

}

.waddle-render {
    color: #01adffee;
}

.waddle-testing {
    opacity: 50%;
    filter: blur(3px);
}