@font-face {
  font-family: "iconfont"; /* Project id 3193112 */
  src: url('iconfont.woff2?t=1645281881665') format('woff2'),
       url('iconfont.woff?t=1645281881665') format('woff'),
       url('iconfont.ttf?t=1645281881665') format('truetype'),
       url('iconfont.svg?t=1645281881665#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.waddle-files:before {
  content: "\e601";
}

.waddle-code:before {
  content: "\e602";
}

.waddle-help:before {
  content: "\e603";
}

.waddle-block:before {
  content: "\e604";
}

