@media (max-width: 768px) {

    html,
    body {
        font-size: 13.333333333333333vw !important
    }

    .gitee-external-link-wrapper {
        padding: 0 0.48rem;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 100vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        top: 15%
    }

    .gitee-external-link-wrapper .content-box {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0.48rem;
        text-align: center;
        min-height: 4.05rem;
        background: #ffffff;
        border-radius: 0.04rem;
        border: 0.01rem solid #dce3e8
    }

    .gitee-external-link-wrapper .content-box .content-title {
        font-size: 0.36rem;
        line-height: .5rem;
        font-weight: 500;
        color: #40485b;
        margin-bottom: 0.24rem
    }

    .gitee-external-link-wrapper .content-box .content-text {
        font-size: 0.3rem;
        line-height: .42rem;
        font-weight: 400;
        color: #40485b;
        margin-bottom: .64rem
    }

    .gitee-external-link-wrapper .content-box .content-link {
        font-weight: 400;
        color: #40485b;
        line-height: .39rem;
        margin-bottom: .24rem
    }

    .gitee-external-link-wrapper .content-box .content-link .external-link-href {
        color: #40485b;
        font-weight: 400;
        font-size: .3rem
    }

    .gitee-external-link-wrapper .content-box .external-link-btn {
        height: 0.88rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: .48rem;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        font-size: .32rem;
        color: #ffffff
    }

    .gitee-external-link-wrapper .logo-img {
        width: 2.143rem;
        margin-bottom: .25rem
    }
}

@media (min-width: 768px) {

    html,
    body {
        font-size: 10px !important
    }

    .gitee-external-link-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 22.1698%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 16px
    }

    .gitee-external-link-wrapper .content-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 2.4rem;
        min-width: 54rem;
        min-height: 21.1rem;
        border-radius: 0.4rem;
        border: 0.1rem solid #dce3e8;
        background: white
    }

    .gitee-external-link-wrapper .content-box .content-title {
        font-size: 2rem;
        font-weight: 500;
        color: #40485b;
        line-height: 2.8rem;
        margin-bottom: 1.2rem
    }

    .gitee-external-link-wrapper .content-box .content-text {
        font-size: 1.6rem;
        font-weight: 400;
        color: #40485b;
        line-height: 2.2rem;
        margin-bottom: 2.4rem
    }

    .gitee-external-link-wrapper .content-box .content-link {
        line-height: 2.1rem;
        margin-bottom: 2.4rem
    }

    .gitee-external-link-wrapper .content-box .content-link .external-link-href {
        max-width: 52rem;
        color: #40485b;
        font-weight: 400;
        font-size: 1.6rem;
        cursor: auto
    }

    .gitee-external-link-wrapper .content-box .external-link-btn {
        font-weight: 500;
        margin-right: 0;
        -ms-flex-item-align: end;
        align-self: flex-end;
        font-size: 1.4rem;
        color: #ffffff
    }

    .gitee-external-link-wrapper .logo-img {
        width: 11.35rem;
        margin-bottom: 1.6rem
    }
}

@media (min-width: 2560px) {

    html,
    body {
        font-size: 13.333333333333332px !important
    }

    .gitee-external-link-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 22.1698%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 16px
    }

    .gitee-external-link-wrapper .content-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 2.4rem;
        min-width: 54rem;
        min-height: 21.1rem;
        border-radius: 0.4rem;
        border: 0.1rem solid #dce3e8;
        background: white
    }

    .gitee-external-link-wrapper .content-box .content-title {
        font-size: 2rem;
        font-weight: 500;
        color: #40485b;
        line-height: 2.8rem;
        margin-bottom: 1.2rem
    }

    .gitee-external-link-wrapper .content-box .content-text {
        font-size: 1.6rem;
        font-weight: 400;
        color: #40485b;
        line-height: 2.2rem;
        margin-bottom: 2.4rem
    }

    .gitee-external-link-wrapper .content-box .content-link {
        line-height: 2.1rem;
        margin-bottom: 2.4rem
    }

    .gitee-external-link-wrapper .content-box .content-link .external-link-href {
        max-width: 52rem;
        color: #40485b;
        font-weight: 400;
        font-size: 1.6rem;
        cursor: auto
    }

    .gitee-external-link-wrapper .content-box .external-link-btn {
        font-weight: 500;
        margin-right: 0;
        -ms-flex-item-align: end;
        align-self: flex-end;
        font-size: 1.4rem;
        color: #ffffff
    }

    .gitee-external-link-wrapper .logo-img {
        width: 11.35rem;
        margin-bottom: 1.6rem
    }
}

@media (min-width: 3840px) {

    html,
    body {
        font-size: 20px !important
    }

    .gitee-external-link-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: absolute;
        top: 22.1698%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        font-size: 16px
    }

    .gitee-external-link-wrapper .content-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 2.4rem;
        min-width: 54rem;
        min-height: 21.1rem;
        border-radius: 0.4rem;
        border: 0.1rem solid #dce3e8;
        background: white
    }

    .gitee-external-link-wrapper .content-box .content-title {
        font-size: 2rem;
        font-weight: 500;
        color: #40485b;
        line-height: 2.8rem;
        margin-bottom: 1.2rem
    }

    .gitee-external-link-wrapper .content-box .content-text {
        font-size: 1.6rem;
        font-weight: 400;
        color: #40485b;
        line-height: 2.2rem;
        margin-bottom: 2.4rem
    }

    .gitee-external-link-wrapper .content-box .content-link {
        line-height: 2.1rem;
        margin-bottom: 2.4rem
    }

    .gitee-external-link-wrapper .content-box .content-link .external-link-href {
        max-width: 52rem;
        color: #40485b;
        font-weight: 400;
        font-size: 1.6rem;
        cursor: auto
    }

    .gitee-external-link-wrapper .content-box .external-link-btn {
        font-weight: 500;
        margin-right: 0;
        -ms-flex-item-align: end;
        align-self: flex-end;
        font-size: 1.4rem;
        color: #ffffff
    }

    .gitee-external-link-wrapper .logo-img {
        width: 11.35rem;
        margin-bottom: 1.6rem
    }
}

.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    background-color: #e0e0e0;
    color: rgba(0, 0, 0, 0.6);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Liberation Sans", "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, SimSun, "WenQuanYi Zen Hei Sharp", sans-serif;
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571em 1.5em 0.78571em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    background-image: none;
    border-radius: 0.2857rem;
    -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent
}

.ui.button:hover {
    background-color: #e8e8e8;
    background-image: none;
    -webkit-box-shadow: '';
    box-shadow: '';
    color: rgba(0, 0, 0, 0.8)
}

.ui.button:hover .icon {
    opacity: 0.85
}

.ui.button:focus {
    background-color: '';
    background-image: '';
    -webkit-box-shadow: 0px 0px 0px 1px transparent inset, 0px 0px 1px rgba(81, 167, 232, 0.8) inset, 0px 0px 3px 2px rgba(81, 167, 232, 0.8);
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0px 1px rgba(81, 167, 232, 0.8) inset, 0px 0px 3px 2px rgba(81, 167, 232, 0.8);
    color: rgba(0, 0, 0, 0.8)
}

.ui.button:focus .icon {
    opacity: 0.85
}

.ui.orange.buttons .button,
.ui.orange.button {
    background-color: #e07b53;
    color: #ffffff;
    text-shadow: none;
    background-image: none
}

.ui.orange.button {
    -webkit-box-shadow: 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
    box-shadow: 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset
}

.ui.orange.buttons .button:hover,
.ui.orange.button:hover {
    background-color: #e28560;
    color: #ffffff;
    text-shadow: none
}

.ui.orange.buttons .button:active,
.ui.orange.button:active {
    background-color: #db6435;
    color: #ffffff;
    text-shadow: none
}

.ui.orange.buttons .button.active,
.ui.orange.buttons .button.active:active,
.ui.orange.button.active,
.ui.orange.button .button.active:active {
    background-color: #0f0f10;
    color: #ffffff;
    text-shadow: none
}